/* 
colors 
*/ 
$background-color: #0B0D17;
$h-color: #FFFFFF;
$text-color: #D0D6F9;
$grey-color: #464950;


/*
width   
*/
$width-md: 22.25rem;
$width-lg: 40rem;
$width-max: 66.6667rem;

/* 
typography
*/
$heading1: clamp(5rem, 11.8vw , 11.85rem);
$heading2: 5.5556rem;
$heading3: 3.1111rem;
$heading4: 1.7778rem;
$heading5: clamp(1.2rem, 4.5vw, 1.5556rem);
$nav-text: .8889rem;

@font-face {
    font-family: "Barlow";
    src: url("../src/assets/Fonts/BarlowCondensed-Regular.ttf");
}
@font-face {
     font-family: "Bellefair";
     src: url("../src/assets/Fonts/Bellefair-Regular.ttf");
}

/**
 * GENERAL
 */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-kerning: auto;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

//animation
.animationClass{
    animation-duration: 1s;
    animation-name: slidein;  
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: scale(.75);
  }

  to {
    opacity: 100;
    transform: scale(1);
  }
}

